.container-progressbar
{
	width: 100%;
  	margin-bottom: 32px;
}
.progressbar
{
	counter-reset: step;
 	padding: 0;
  	display: flex;
 	position: relative;
}
.progressbar li
{
	list-style: none;
  	width: 40%;
  	position: relative; 
  	text-align: center;
}
.progressbar li:before
{
  content: "";
  width: 30px;
  height: 30px;
  line-height : 30px; 
  border: 2px solid;
  border-radius: 100%;
  display: block;
  text-align: center; 
  margin: 0 auto 10px auto;
  background-color: #cacaca;
}
.progressbar li:after
{
  content: "";
  position: absolute;
  width: 90%;
  height: 3px;
  background-color: black;
  top: 14px;
  left: -45%;
}
.progressbar li:first-child:after
{
  content: none;
}
.progressbar li.active
{
  z-index: 10;
}
.progressbar li.active:before
{
  background-color: #6e2b61;
}

.page-content img 
{
    width: 90%;
    height: auto!important;
}
.inline {
  display: inline;
}

.button {
  background-color: #4298b5;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

img.resize {
  max-width:25px;
  max-height:25px;
}

